html {
    height: 100%;
    font-size: 16px;
    background:#FFFFFF;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
}

#root {
    height: 100%;
}